[2013-12-05 06:41] emberian opened #1 "Hailstone comments"
You are wastefully calling `collect` on the iterators. Iterators have a .len() method that won't allocate the entire intermediate vector. Since you're only using the lengths, you can just store a uint instead of a full-blown vector.

Hailstone should have a constructor, so you can do `Hailstone::new(27)`. To do that, add:

[code]

[2013-12-06 05:55] #1 closed, assigned to nobody

[2014-01-29 22:17] Hoverbear opened #8 "Rust CI"
Get [this](http://rust-ci.org/help/) working!

[2014-01-29 22:54] #8 closed, assigned to Hoverbear

[2014-03-25 05:23] Hoverbear opened #26 "LZW Type Issues"
Looks like there was a change to how vec and ~[u8] are handled. I'm not sure how to fix this yet myself.

@4tXJ7f @tisbutme

[code]

[2014-03-26 22:17] #26 closed, assigned to nobody

[2014-04-24 19:09] aochagavia opened #41 "Add tests to some of the programs"
Would this be a good idea? I could write some of them and I think that it is good to illustrate how easy it is to test.

[2014-04-27 19:01] Hoverbear opened #44 "Travis CI not building off master Rust?"
[Link](https://travis-ci.org/Hoverbear/rust-rosetta)
Look on L230:

[code]

Looks like it's a package from well over a week ago. So the build status is failing.

[2014-04-29 14:54] aochagavia opened #48 "Duplicated code"
I have seen that we have two implementations of `Averages/Arithmetic mean`. I have recently cleaned up one of them and added some tests. Should we delete the other one?

[2014-04-29 15:04] aochagavia opened #49 "Extern resources"
I have seen that `anagrams` needs to read a textfile in order to work properly. I think that we should include it in the repository so it can be run without problems. Maybe there are other code snippets that also need access to some kind of resource, so my proposal here is more general than only a solution for `anagrams`. I think there are two ways to solve this problem:
1. Add a `resources` direc

[2014-04-29 15:49] #48 closed, assigned to nobody

[2014-04-29 15:50] #49 closed, assigned to nobody

[2014-05-04 20:58] Hoverbear opened #58 "main or tests"
I think having both might present an issue. This repo is about providing very clear, concise code to simple problems for newbies to work off.

Personally, I'd prefer to see `#[test]`s only for all code, it would allow for easy testing of new entries, encourage clean code quality, and reinforce the feature of rust that allows for built in unit testing.

Does anyone see any snippets that would prese

[2014-05-10 04:01] #44 closed, assigned to nobody

[2014-05-12 02:45] jschaf opened #73 "New Lint checks"
To improve and standardize some code quality, I think we should add a few lint checks to the build process.  What do you think about the following checks?
- 80 column limit
- 4 space indents (might be tricky to implement)
- doc comments

[2014-05-13 02:11] #73 closed, assigned to nobody

[2014-05-13 04:46] Hoverbear opened #89 "Pretty Print all files"
Looks like `rustc` has a fun trick: `rustc --pretty`

Should we just run files through that instead of linting?

[2014-05-13 05:10] #89 closed, assigned to nobody

[2014-05-13 08:28] #41 closed, assigned to nobody

[2014-05-13 08:28] #58 closed, assigned to Hoverbear

[2014-05-21 15:40] Thiez opened #100 "lowerCamelCase functions"
There are several funtions and variables that use lowerCamelCase in their names, but this is against the Rust style-guide (https://github.com/mozilla/rust/wiki/Note-style-guide). I myself have introduced some of these (e.g. `dot_product.rs` has `fn testDotp`), but others have made the same mistake.

At least some of these functions/variables can easily be found by doing `git grep -Ee 'let [a-z]+[A

[2014-05-26 10:04] aochagavia opened #110 "Unussed attributes"
The build is failing because of having `#![cfg(not_tested)]`. We get compile warnings like the following one (for the complete build see https://travis-ci.org/Hoverbear/rust-rosetta):

[code]

@jschaf do you know how to fix this?

[2014-06-02 19:47] #110 closed, assigned to nobody

[2014-06-27 22:07] pfalabella opened #159 "Build breaks with rust nightly 2014-06-27"
https://github.com/rust-lang/rfcs/pull/115 has broken a surprising amount of tasks.
The fix is theoretically simple: wherever rustc was previously happy to assume anything that kinda looked like an int WAS an int, now it requires to be more explicit with the postfix, to say if a 1 is actually a 1i or a 1u or what.

Unfortunately, due to https://github.com/rust-lang/rust/issues/15195 it's not alway

[2014-06-28 20:22] #159 closed, assigned to nobody

[2014-07-10 15:39] pfalabella opened #170 "Porting rosettacode.org Rust solutions to current Rust"
Should we port the tasks that are already on rosettacode.org to current Rust?
Some of them are in Rust 0.7 and I believe will need some adjusting to keep compiling. Others may not even be possible at all with the current status of closures (e.g. the [Y combinator](http://rosettacode.org/wiki/Y_combinator#Rust) one ).
I believe modifying them and holding them here would be a good way to make sure t

[2014-07-22 12:38] pfalabella opened #181 "Review Function composition and roots of unity when unboxed closures are added to Rust"
With unboxed closures it should be possible to rewrite the solutions to [Function composition](https://github.com/Hoverbear/rust-rosetta/blob/master/src/function_composition.rs) and [roots of unity](https://github.com/Hoverbear/rust-rosetta/blob/master/src/roots_of_unity.rs) in a better way.

Adding this issue as a reminder to check that task again once Rust closure reform is complete.

[2014-08-06 12:44] pfalabella opened #191 "build/hamming_numbers.exe fails at runtime"
I get a runtime failure trying to run `build/hamming_numbers.exe`:
This happens on the playpen as well:

[code]

This is [line 153 in ringbuf.rs](http://doc.rust-lang.org/src/collections/home/rustbuild/src/rust-buildbot/slave/nightly-linux/build/src/libcollections/ringbuf.rs.html#153)
It does not seem to be explicitly called by hamming_numbers.rs, but maybe other methods of ring_buf reference it?

[2014-08-07 16:56] #191 closed, assigned to nobody

[2014-08-22 10:07] alexshelkov opened #206 "Webserver.rs"
While testing webserver.rs I found that I got some errors when accessing it:

[code]

Then I try to use CURL (or browser) to connect:

[code]

It returns response, but also some error: "curl: (56) Recv failure: Connection reset by peer". And if you try open it in browser, page not loads in most cases.

[2014-08-22 16:39] #206 closed, assigned to nobody

[2014-09-03 18:58] pfalabella opened #216 "Simplify travis.yml"
http://blog.travis-ci.com/2014-09-3-travis-ci-gets-a-little-rusty/
it should be now possible to simplify travis.yml so that it does not download rust every build

[2014-09-04 18:26] #216 closed, assigned to nobody

[2014-09-12 08:05] pfalabella opened #221 "AKS test for primes finds 4 as a prime"
I was modifying aks_test_for_primes to use its is_prime method as a library for another task, and noticed that it accepts 4 as a prime number. It's even in the tests:

https://github.com/Hoverbear/rust-rosetta/blob/master/src/aks_test_for_primes.rs#L56

[2014-09-14 13:27] #221 closed, assigned to nobody

[2014-09-21 18:16] #100 closed, assigned to nobody

[2014-10-04 18:05] Hoverbear opened #235 "(Proposal) Move list of tasks complete from README.md"
They are now implicitly listed in the `Cargo.toml`, toml comments work like so:

[code]

Benefits:
- Less work to add a task.
- Reduced README.md complexity.
- Teaches people the `Cargofile.toml` format.

Faults:
- Removes list of completed problem from the landing page.

[2014-10-04 19:38] aochagavia opened #236 "(Proposal) Let Travis check if all source files are covered by Cargo.toml"
I could write a short python script to check the amount of `[[bin]]` present in `Cargo.toml` and compare it with the amount of files terminated with `.rs` in the `src` directory.

The main use case for this is when someone adds a new task. Travis would run the script and, if the amounts don't match, it would mean that the author forgot to add the file to `Cargo.toml`. We could have a nice error me

[2014-10-04 20:24] #235 closed, assigned to nobody

[2014-10-04 20:34] Hoverbear opened #237 "(Proposal) Contributor's into the Cargo.toml"
I'm definitely not the only author of `rust-rosetta`, and we should fix that in the `Cargo.toml`

[2014-10-05 18:38] aochagavia opened #238 "Use lints for line length and trailing whitespace"
This is blocked by https://github.com/rust-lang/rust/issues/15446 on Rust.

[2014-10-06 02:57] #236 closed, assigned to aochagavia

[2014-10-07 10:00] aochagavia opened #248 "Remove `// non_tested` comments"
Because we have moved to Cargo, we don't need those comments anymore.

[2014-10-07 17:14] pythonesque opened #252 "Proposal: Create testing guidelines"
Right now there aren't really any testing guidelines.  While I like how lightweight the contribution process is, I think it's important to keep the tests running fast and not doing anything bad (like rely on connecting to the outside internet for correctness) so it would be good to have at least an unofficial set of guidelines.  I'm thinking just something like "keep tests that sleep below X","don

[2014-10-10 13:13] aochagavia opened #265 "(Proposal) Replace tabs by four spaces"
Most of the code uses four spaces instead of tabs. However, some files contain a mix of both. It would be nice to write a script and clean this up.

cc @Hoverbear @jschaf @pfalabella

[2014-10-10 13:34] aochagavia opened #267 "Improvements blocked by rust"
### Replace `Vec` usage by iterators

The issues below lead people to collect iterators into a `Vec`, instead of returning them.

Blocking issues:
- Lack of a `yield` keyword. This forces you sometimes to declare a new struct if you want to return an iterator. Of course you must implement the `Iterator` trait for it and write a function which returns an iterator of this kind.
- Lack of anonymous r

[2014-10-10 13:35] #181 closed, assigned to nobody

[2014-10-10 23:37] #248 closed, assigned to nobody

[2014-10-12 05:45] #265 closed, assigned to nobody

[2014-10-14 16:52] pfalabella opened #273 "assert fail on events.rs on windows"
event.rs fails on windows (win 7 + Mingw 64) with

    ---- test_events stdout ----
            task 'test_events' failed at 'assertion failed: duration <= handle_event(duration)', src\events.rs:66

executing main has this strange output (duration should be at least 1 second):

    $ target/events.exe
    PT0.999763955S elapsed before event triggered

This may well be a bug in Mingw, but I haven't

[2014-10-20 14:40] pfalabella opened #276 ""expected type parameter, found struct" on Hamming Numbers"
A new error appeared on Hamming Numbers. I don't understand what the failure is...

[code]

https://travis-ci.org/Hoverbear/rust-rosetta/builds/38502816#L149

[2014-11-08 07:30] #276 closed, assigned to nobody

[2014-11-18 21:02] JoshuaSkootsky opened #300 "Did some things break?"
As a side point, it "used to be" (i.e. a week ago) that I would write "cargo run --name" to specify what I wanted executed.

What has changed?

I was trying to play around the synchronous_concurrency file and it was giving me trouble, and other things look like they are refusing to compile.

[code]

[2014-11-24 20:41] #300 closed, assigned to nobody

[2014-12-16 09:44] pfalabella opened #325 "Decide what to do with 1.0 and feature gates"
Features that are still feature gates at 1.0 will only be available in the nightlies. I guess rosettacode will want to provide versions working with 1.0 of the various tasks, so we will need to decide what to do with the tasks that depend on feature gates.
I don't know if it will it be possible to specify the version (1.0 or latest nightly) directly in Cargo.toml, for instance. Or maybe we should

[2015-01-12 03:32] frankmcsherry commented on #170
I updated the Fibonacci n-step example, at http://rosettacode.org/wiki/Fibonacci_n-step_number_sequences#Rust before I knew about this repo. Feel free to copy from there.

[2015-01-25 23:38] #237 closed

[2015-01-28 15:43] gsingh93 commented on #170
- There are some solutions in the repo that aren't on rosettacode yet, right? Is there an automated way to check what solutions still need to be uploaded?
- Some solutions were ported for 0.13, we should make sure they work for 1.0. We should probably uncheck everything in the list to verify.
- I saw that there is still old code along with the new code for some problems (http://rosettacode.org/wik

[2015-01-30 08:16] pfalabella commented on #170
@gsingh93 thanks for raising these points. At this moment in time there is no synchronization with rosettacode.org in either way. If tasks get added or updated here on rust-rosetta, the new code does not get published on rosettacode.org. Likewise, if someone publishes a new Rust solution on rosettacode.org, there's no automated way of fetching it in this repository.

The list in this thread is onl

[2015-01-30 08:40] aochagavia commented on #170
There is a [RosettaCodeData](https://github.com/acmeism/RosettaCodeData) repository which mirror's the website. Maybe it would be interesting to see if they scrape the site or use an API.

[2015-01-30 14:22] jschaf commented on #170
I started on a python library to automate the tasks, but I stalled out after starting a new job.  The main code is at https://github.com/jschaf/rosetta-robot/blob/master/rosettarobot/robot.py.  It can generate the right syntax for wikimedia, but I haven't added upload functionality.

I wanted the script to be able to automatically update rosetta-code and then be able to generate a static site serv

[2015-03-02 20:45] foodhype opened #371 "Running 'cargo test' causes compile error: population_count.rs:37:41: 37:42 error: mismatched types"
I got this compile error when running 'build test' on rustc 1.0.0-nightly (157614249 2015-03-01) (built 2015-03-02):
[code]

[2015-03-02 21:02] aochagavia commented on #371
What is your Rust version? I think this compiles with the current nightly.

[2015-03-02 22:02] foodhype commented on #371
After updating to the current nightly, the previous compile error disappeared, but I now get a new compile error, as explained above.

[2015-03-02 23:01] Hoverbear commented on #371
Hi, yes, the [current build](https://travis-ci.org/Hoverbear/rust-rosetta/builds/52812479) is failing.

[2015-03-02 23:12] Hoverbear commented on #371
c150b57f1ebda43f609efd0a03634350cc50b609 should have fixed this.

[2015-03-02 23:12] #371 closed

[2015-03-02 23:17] Hoverbear commented on #238
It looks like this got closed finally!

[2015-03-03 08:19] aochagavia commented on #238
This was indeed fixed in https://github.com/rust-lang/rust/pull/20032

However, it looks like the lints operate directly on the AST (so we don't have any information about whitespace).

Maybe we could use a custom cargo build script to do it (see http://doc.crates.io/build-script.html). We only need to check the length of each line and if the last character is whitespace, so the code should be ver

[2015-03-03 18:39] Hoverbear commented on #238
I think we can close this since your PR will fix these.

[2015-03-03 18:39] #238 closed

[2015-05-01 05:54] Hoverbear commented on #325
It's probably about time to talk about this again. I know @pfalabella did some work on this in #385.

Shall we target 1.0?

CC @aochagavia

[2015-05-02 09:48] aochagavia commented on #325
I think it's good to target 1.0! I guess beginners will learn 1.0 instead of nightly.

[2015-07-24 18:45] pfalabella commented on #325
I think this choice has been made... We're tracking nightly and keeping feature gates. Closing this

[2015-07-24 18:45] #325 closed

[2015-07-24 20:55] Hoverbear commented on #325
@pfalabella agreed. While we'd like to move towards stable, right now some problems require nightly! :(

[2015-07-25 19:32] niconiconico9 opened #400 "Alternative power set"
Hi,
I was working on the power set problem, only after finding that there is already one

I have taken a different approach https://gist.github.com/niconiconico9/fa9d84b2dd778aae70f9

Is there a reason why the Rust power set present in this repository is not present in Rosetta Code?

[2015-07-25 21:07] Hoverbear commented on #400
@niconiconico9 We don't have a way to automatically sync with Rosetta code at the moment! It's quite a shame. Would you like us to consider replacing the current one with yours? [Here is the current one](https://github.com/Hoverbear/rust-rosetta/blob/master/src/power_set.rs)

[2015-07-26 11:30] niconiconico9 commented on #400
Yes, at least as an alternative version
The Rust solution that I wrote is the same as the LINQ based C#, D...

I think that the main problem of the code that I wrote that is more verbose respect to the other languages that are using the same algorithm

It would make sense to write something like this:
[code]
That is vey similar to the D solution but we have the problem that contrary to D, Rust don

[2015-07-26 15:19] Hoverbear commented on #400
Could we return an `Iterator<Item=T>`?

[2015-07-26 15:22] aochagavia commented on #400
You would need either to box it or to write down the concrete struct... Which is painful to say the least.

[2015-07-26 16:18] niconiconico9 commented on #400
After thinking a little about it, I suggest this:
Propose as main solution something that is not lazy but very terse and comparable to the C# and D solution:
https://gist.github.com/niconiconico9/dc654da5869fa8ccb538

Again like D, also propose a version that show how you can build a lazy solution creating a custom iterator (that would be the first version that I proposed)

It's ok?

[2015-08-04 16:51] Hoverbear opened #402 "Reflecting solutions here to Rosetta Code"
I'd like to open a discussion about how/what we could do to help smooth the process of getting the solutions here on Rosetta code, and the solutions on Rosetta code here (less of a priority).

This would definitely be a cool problem and likely involve using html5ever or whatnot.

**For a first go, it'd be best to start with some sort of `cargo run` invocation that would go and check, notifying the

[2015-08-04 18:50] aochagavia commented on #402
Since Rosetta Code runs on MediaWiki, I think we should consider using the [MediaWiki API](https://www.mediawiki.org/wiki/API:Main_page). I don't know how useful the API is (just found it by googling), but maybe it can make this process easier.

I like the idea of checking whether the code snippets are the same. Maybe we could create a sub-crate with a program that performs this task...

[2015-08-04 18:54] Hoverbear commented on #402
I think that doing a simple check is a good first step, and we can eventually move to something slightly more automated.

[2015-08-04 19:01] Hoverbear commented on #402
Here is an API sandbox for Wikipedia: https://en.wikipedia.org/wiki/Special:ApiSandbox

I was able to hit the Mediawiki API with this: http://rosettacode.org/mw/api.php?action=query&titles=Main%20Page&prop=revisions&rvprop=content&format=jsonfm

[2015-09-21 14:03] aochagavia opened #407 "The build doesn't pass"
Some unstable features have been removed/renamed and there is code that doesn't compile anymore.

The offenders are:
* 24_game_solve.rs
* kahansum.rs
* parallel_calculations.rs

[2015-10-13 07:09] potocpav commented on #170
I updated *nearly all* the tasks that are on rosettacode to Rust 1.3.0-stable. I think I missed just two: http://rosettacode.org/wiki/Hello_world/Web_server and rosettacode.org/wiki/Scripted_main. I did not know about this repo, so stuff is out of sync right now.

[2015-10-13 19:38] Hoverbear commented on #170
@potocpav Wow thank you! :)

[2015-10-13 22:15] potocpav commented on #170
I wanted to update this repo too, but I found that the solutions here are out of sync with rosettacode.org really bad. Like, they tend to be completely different. Is there a desire to sync them and keep them synced? How should that go about? I would be glad to help (or just do it :) ), but I don't quite know how. Any ideas? :)

[2015-10-14 22:50] jschaf commented on #170
I don't think there's an official API, so you have to use some screen scraping.  I started with Python and the request libary.  At a high level, it's something like:

* Get code from repo by using the URL comment string in each file
* Convert code into MediaWiki syntax.  I used Jinja2 for that.
* Get rossettacode submission
* Check to see if it was put there earlier by our script, if so, overwrite

[2015-10-20 14:41] euclio commented on #402
I'll probably have a pull request going for this by the weekend. As a first step it'll only support checking which files are different than the ones posted already, but I hope to automate it in a later patch.

[2015-10-20 23:18] Hoverbear commented on #402
@euclio Wow, awesome! Please let us know if you need any support. Thanks so much!

[2015-11-03 20:56] Hoverbear opened #417 "Removing warnings"
There are a fairly large amount of warnings when compiling tasks. Most of these are related to poor style and can be trivially fixed.

[2015-11-03 21:04] Hoverbear commented on #407
Currently the build passes. :) Closing this.

[2015-11-03 21:04] #407 closed

[2015-11-03 21:04] Hoverbear commented on #170
#410 is a way to move forward on this. Thanks for @euclio !

[2015-11-03 21:04] Hoverbear commented on #273
Is this still an issue?

[2015-11-03 21:05] Hoverbear commented on #252
@aochagavia How does that look to you?

[2015-11-04 08:50] aochagavia commented on #252
looks good to me!

[2015-11-04 18:22] #252 closed

[2015-11-04 18:43] Hoverbear opened #418 "Rustfmt"
Should we utilize `rustfmt` on this repo?

[2015-11-04 20:57] aochagavia commented on #418
Sounds interesting... Could you make a branch with the changes? I am curious to see the diff.

[2015-11-04 21:00] Hoverbear commented on #418
I'd like to land #410 first since it will almost certainly create merge conflicts, but yes I will!

[2015-11-08 15:44] euclio commented on #418
I've tried this, and we'll definitely have to be careful. There are some comments that do not play nicely with rustfmt.

[2015-11-08 15:46] aochagavia commented on #418
I think @nrc would love to hear from your findings... Maybe you could open an issue on https://github.com/nrc/rustfmt

[2015-11-08 17:24] euclio commented on #417
I was planning on doing this, so I'm happy to help in any way I can!

[2015-11-08 18:24] nrc commented on #418
comments seem to be a real sticking point for rustfmt atm. I think I am going to disable comment formatting by default, should land later today.

[2015-11-09 08:38] tshepang commented on #418
@nrc :+1:

[2015-11-09 08:56] nrc commented on #418
Turns out "later today" was wildly optimistic, but soon, I promise!

[2015-11-09 19:10] Hoverbear commented on #418
@nrc Thanks for the update. :)

[2015-11-09 19:11] nrc commented on #418
Just done! https://github.com/nrc/rustfmt/pull/575, just waiting for review.

[2015-11-09 19:11] Hoverbear commented on #417
@euclio I've been going through some as I review but there are still lots sadly! It seems like most are around `for (...)` loops which shouldn't have `()`s. I was trying to work out a regex for it but was not successful.

[2015-11-09 19:14] Hoverbear opened #422 "Remove Cargo.lock"
With Rust stable now it might be worth examining removing the Cargo.lock file.

[2015-11-09 21:02] euclio commented on #422
Not sure why you'd want to remove Cargo.lock, it determines the *exact* versions of the dependencies you were using when you last successfully compiled.

http://doc.crates.io/guide.html#cargotoml-vs-cargolock

[2015-11-10 00:00] Hoverbear commented on #422
@euclio Yup. We started bundling it pre-stable because Cargo packages were breaking so much. If you look at other crates it's generally considered a bad idea to include a `Cargo.lock` and to clamp versions via `Cargo.toml`.

[2015-11-10 00:18] Hoverbear commented on #418
@nrc Sad you can't glob files. :(

@aochagavia https://github.com/Hoverbear/rust-rosetta/tree/rustfmt I'd suggest checking this out and doing a `git log -p` :)

[2015-11-10 00:20] euclio commented on #422
@Hoverbear Sure, for libraries, but we're building binaries in this repo?

[2015-11-10 00:27] Hoverbear commented on #422
Those are good arguments for sure.

[2015-11-10 00:39] nrc commented on #418
@Hoverbear Rustfmt does walk the module structure by default, so you only need to put it to work on the crate root and it should do the rest (if you have multiple crates, then this doesn't help much). We've been discussing making Rustfmt work on multiple files at a time, but globs haven't been on our radar. Might be useful to have.

[2015-11-10 02:18] euclio opened #425 "Investigate caching wiki requests in coverage subcrate"
It'd be nice to pull the wiki page into a local directory, and then detect if the page has changed or not. If the page hasn't changed, we don't have to download it again, and can just use the local copy.

https://www.mediawiki.org/wiki/API:Main_page#API_etiquette

[2015-11-10 04:52] euclio opened #427 "rust-clippy"
[rust-clippy](https://github.com/Manishearth/rust-clippy) contains a number of additional lints that would help us to catch some non-idiomatic code.

One problem with running the lints is that they can only be run on one binary at a time. It might make sense to write a script to simplify running it over multiple binaries.

Like #418, I think it'd make sense to put a note in the README about runnin

[2015-11-10 09:00] aochagavia commented on #418
@Hoverbear that's a huge diff! I didn't read it completely, but it looks quite good from what I saw (with the exception of some issues with comments).

[2015-11-10 16:15] Hoverbear commented on #418
@aochagavia That's about how I felt. We used it on Hoverbear/raft and it worked very well too.

[2015-11-10 16:17] Hoverbear commented on #425
I'm not sure this would be beneficial... It seems like Mediawiki already uses a cache for GET requests. I'd definitely be up for experimenting though.

[2015-11-11 20:44] euclio opened #431 "Coverage reports Horner's rule for polynomial evaluation as unimplemented locally"
The task is implemented in `src/horners_rule.rs`, however.

[2015-11-11 22:39] euclio opened #432 "Improve test coverage"
Most tasks have no tests, or tests that are not covered by `cargo test` because they are inside `main`.

It might help to diagnose this by integrating test coverage into our CI.

[2015-11-12 00:17] Hoverbear commented on #432
I think I can set up coveralls without too much effort. Think that'd be a good choice? http://coveralls.io/

[2015-11-12 03:57] euclio commented on #432
I've never used coveralls but it seems popular. Does it play nice with our large number of separate binaries/tests?

[2015-11-12 16:54] Hoverbear commented on #432
I can explore more. We use it on Raft-rs... Take a look [here](https://coveralls.io/github/Hoverbear/raft-rs).

[2015-11-12 16:56] #431 closed

[2015-11-13 05:01] euclio commented on #273
The assert passes and the binary runs as expected for me on Windows 10/Rust 1.6 Nightly.

[2015-11-13 18:03] euclio commented on #417
There are now two types of warnings remaining.

1. Inclusive range syntax deprecation warning. This should be trivial to fix, once `...` syntax for inclusive ranges lands. As far as I can tell this hasn't been merged despite having a warning for it?

2. Dead code warnings. This arises from some modules having test-only functions or modules that are used both as binaries and libraries. Not sure the

[2015-11-24 17:29] euclio commented on #432
Hey @Hoverbear, did you try turning the coverage on?

[2015-11-24 19:46] Hoverbear commented on #432
Thanks for the ping, @euclio... I really wish Github had a "Revisit this later" button.

[2015-11-24 20:02] Hoverbear commented on #432
@euclio https://coveralls.io/github/Hoverbear/rust-rosetta

[2015-12-10 16:21] enricostano opened #441 "Why Huffman coding is not in the Rosetta code wiki?"
Hi,

I found out that there is no Rust entry for Huffman coding in Rosetta code, so I gave it a try and I implemented it:

https://users.rust-lang.org/t/huffman-coding-for-rosetta-code-entry-code-review/3925

Then in the #rust channel I was pointed at this repo... just to discover that it has already been implemented... but it didn't reach Rosetta code wiki.

Is there any reason? Should I keep wor

[2015-12-10 18:27] Hoverbear commented on #441
Hi!

Unfortunately automated syncing of code to Wikis is slightly arcane as of yet. We've been working on fixing this with @euclio 's `coverage` addition recently.

Please feel most welcome to keep working on your implementation (and submit a PR to replace the current), improve the existing one, upload either to Rosetta-code, or generally do whatever you please. Rosetta code problems are for learn

[2015-12-11 01:20] #441 closed

[2015-12-17 17:54] euclio commented on #418
This is now even easier with

[code]

Would love to get this landed!

[2015-12-27 21:40] #273 closed

[2015-12-31 23:23] euclio opened #447 "Consider using module-level comments for documenting task at top of file"
I think that `//!` comments better convey the intent of the comment at the top of the file, which is documenting the task that the current module/binary is implementing, because these kinds of comments document the module itself. Additionally, this comment is actually an inspectable attribute, which might be helpful in `coverage`.

[2016-01-02 21:53] Hoverbear commented on #447
I'm totally okay with this change. :)

[2016-01-22 20:30] euclio commented on #418
Thinking of tackling this this weekend. @Hoverbear, any particular format that you want the changes done in (like, a few at a time, or all at once, fixing any formatting issues manually)?

[2016-01-25 21:57] Hoverbear commented on #418
@euclio Hey! Sorry I didn't get to this, homework is landing hard. I'm fine with all at once or a few hunks, do whatever works best for you.

[2016-01-26 02:48] Stebalien opened #450 "Anonymous recursion with closures"
There has to be a way to sanely do anonymous recursion with closures but this is the best I could come up with:

[code]

I'm not planning on submitting a pull request/posting this to Rosetta Code because no one should ever do this *but*, I'm posting it here in the hopes that someone knows how to do better.

[2016-01-27 16:27] #418 closed

[2016-01-27 16:35] Hoverbear commented on #450
Thanks for submitting this! :) I'm going to leave this open with the "Help Wanted" tag and hopefully someone will have an idea. :)

[2016-01-27 17:54] euclio commented on #417
rust-lang/rust#30884 should land soon! Woot!

[2016-01-27 18:39] durka commented on #450
Does a trampoline count? http://is.gd/p4KjCw

[2016-01-27 20:53] Stebalien commented on #450
That's not really recursive. If we're willing to use a helper function, we can always define a recursive y combinator:

[code]

[2016-01-28 14:09] euclio commented on #432
Did some digging into this, and found this thread. Looks like a problem with the linker optimizing out the untested sections of code. See https://internals.rust-lang.org/t/disabling-gc-sections-when-test-is-specified/2163

[2016-01-29 15:21] Hoverbear commented on #432
Hmm thanks for finding that @euclio , it makes sense.

[2016-02-17 05:38] euclio opened #458 "Automatically post the results of `coverage` somewhere"
This can probably be accomplished with [Webhooks](https://developer.github.com/webhooks/) pretty easily.

[2016-02-17 17:35] Hoverbear commented on #458
This sounds fun! Let me know if you need anything set up in the repo from me.

[2016-02-17 18:12] euclio commented on #458
I think we could use it to generate paste-ready snippets for the wiki too :)

[2016-02-17 21:26] euclio commented on #458
Does it make sense to implement the server as a another subcrate? Or should I make it in another repo somewhere?

[2016-02-19 18:38] Hoverbear commented on #458
Definitely.

[2016-02-28 10:53] miqid opened #467 "Indication of whether a solution is cross-platform"
Hello there.

I noticed the follow solutions (possibly more I may have missed) use the `libc` crate and are written in ways that will fail to compile on non-Unix system:

[code]

Re-implementing the solutions such that they are cross-platform would be ideal. However, if that's not the direction of this project, I still feel as though a small comment warning about OS requirements would be a courtes

[2016-02-28 21:45] euclio commented on #467
Thanks for the catch. We currently have a `unixOnly` feature that is intended for these sorts of solutions, so they should probably be put behind a `cfg` attribute.

[2016-02-29 21:44] Hoverbear commented on #467
@euclio Good idea. I'm poking it.

[2016-02-29 22:50] Hoverbear commented on #467
Looks like the Windows build is slightly broken. :(

[2016-03-01 00:01] miqid commented on #467
@euclio, cool. Gating compilation of solutions with `#[cfg(unix)]` should also do the trick to ensure Unix-specific implementations don't get compiled on Windows.

@Hoverbear, see the AppVeyor set up used by the [rust-openssl](https://github.com/sfackler/rust-openssl/blob/master/appveyor.yml) project. You will need to install and configure OpenSSL to test the build for dependencies that require it

[2016-03-01 03:21] euclio commented on #467
@miqid Yeah, that reminds me, with the latest cargo it's probably best to replace the `unixOnly` feature with [platform-specific dependencies](http://doc.crates.io/manifest.html#the-dependencies-section) and `#[cfg(unix)]` anyways.

[2016-03-02 13:43] miqid commented on #467
I've put in #469, which should resolve the AppVeyor build failing before any tests are even run. However, the build is still failing due to a hanging test, which I'm not sure about.

[2016-03-03 04:45] euclio commented on #458
First run at this: http://euclio.github.io/rosetta-coverage/

Feedback welcome! It's not automated yet, but I'll probably set up a Heroku instance to poll the wiki/repo every 24 hours (or more, depending on how long the report takes).

[2016-03-04 18:18] Hoverbear commented on #458
Whooo looks like the arewewebyet.org site. I dig it! Wow, thanks for doing this. Is there no way to get notified by the wiki of changes? I think the repo can be done with hooks.

While it'd be cool if we could build status for windows/linux on it I can see how that would be rather difficult. :)

[2016-03-04 20:02] euclio commented on #458
I don't think we can add any sort of hook to the wiki without actually modifying the RosettaCode source itself. And yeah, while we *could* use GH hooks I'm not sure it's worth it if we are going to have to do polling anyways.

I can investigate adding a run of each crate to the test, at least for linux, but again, due to the increased complexity I'm not sure it's worth it.

Once I automate the tas

[2016-03-08 03:57] #417 closed

[2016-03-09 12:53] miqid commented on #467
@Hoverbear, @euclio, to keep you two in the loop, I've posted for assistance from AppVeyor support to see if it's not something on their end which might be hanging the `lib.rs` test under a 64-bit configuration.

If we don't get any useful feedback, I think it might be worth flagging this issue for help wanted, as I'm stumped too!

[2016-03-09 17:20] Hoverbear commented on #467
@miqid Thanks for spending time on this and keeping us up to date!

[2016-03-10 04:28] #458 closed

[2016-03-26 14:06] borissmidt opened #493 "Eventual compiler error"
When i try to build the examples the compiler panics at the eventual packedge.
thread 'rustc' panicked at 'internal error: entered unreachable code: Unexpected tail in unsized_info_ty: usize for ty=process::Core<isize, isize, isize>', ../src/librustc_trans/trans/type_of.rs:135

I am using the nightly rust version since the normal compiler couldn't parse the cargo file.

[2016-03-26 14:30] borissmidt commented on #493
It is already flagged to the rust compiler team, maybe you could mention it temporary in the readme of this github page to not use the latest nightly build.

[2016-03-26 14:30] #493 closed

[2016-03-26 14:45] borissmidt opened #494 "cannot compile the examples."
I have used the stable version of rust but then the compilation failes because there are examples that require nightly version of rust, same for the beta.
Then i tried the nightly version but since 17/03/2016 the compiler cannot compile the eventual package. Then i downloaded an earlier nightly version of the compiler but it fails again but with another package.

So my proposal split up the build

[2016-03-26 19:43] euclio commented on #494
Yeah, I think this is just one of the pains of the tracking the nightly. This is a compiler regression, so I imagine it will be fixed in the coming nightlies. For now, you can just remove that dependency and example.

I've thought about how to isolate us from this kind of issue, and I think that the ideal solution would be to make each solution a separate crate. There are a few problems with this

[2016-03-26 21:10] Hoverbear commented on #494
I think we're starting to run into a scaling problem, yeah.

I think keeping a 1:1 mapping to Rosettacode is pretty important for this project as it's really just meant to be a way for us to easily compile the samples and find regressions, issues.

The Rust team has talked about working on incremental builds in the future which could be of great benefit to us. Do you think it will help some of the

[2016-03-27 10:56] miqid commented on #467
@Hoverbear, with #488 now merged, I'm happy enough to close off this issue to keep the pile clean. :grinning:

A note that only the 64-bit GNU Rust flavour remains to be uncovered by the AppVeyor CI.

[2016-03-27 12:20] borissmidt commented on #494
Maybe we could split in a Nightly crate, stable crate thus still making it easy to compile?
So you know which examples require nightly compiler and put in the day of latest compiler that worked.
Because the huge crate is nice to show off how good the project management of rust is.
i wouldn't really like to see the same size project in CMAKE.

[2016-03-28 17:41] Hoverbear commented on #494
@borissmidt That's an interesting idea. What do you think @euclio ?

[2016-03-29 17:45] euclio commented on #494
That could work, but then we lose the advantage of easily being able to run every example from the root, and you'd have to do some searching to find the task.

[2016-03-29 22:23] borissmidt commented on #494
I'm new to rust but could there be a possibility to ether use a conditional compilation in the Cargo file so it only compiles the bins for which your compiler meets the required version ?  And thus keep the advantage of having a single root direction.
Or you could split up the  cargo file in 3 cargo files a root file with two path dependencies these dependencies will be included depending on ether

[2016-03-30 19:52] euclio commented on #494
Unfortunately you can't conditionally compile stable vs. nightly. We're stuck with a nightly compiler regardless.

[2016-03-31 14:00] borissmidt commented on #494
Maybe I need to make a request for such a feature in the cargo github page.

or could you define bins in a [features] directive so you have to say if you want to build normal/ nightly or all?

[2016-03-31 15:06] Hoverbear commented on #494
I think the crux of the issue is that we've **always** used Nightly.

When the project started (~0.7) this was because Nightly was the *only* sane way to develop. By the time a stable got released Nightly was already different. Now it's **much** better. Stable is actually a viable option. Generally it seems to be the case that if something works on Nightly then it likely works on Stable.

I realiz

[2016-03-31 16:00] euclio commented on #494
I feel like I should mention that the compiler crash is caused by a legitimate bug in an extremely well-tested library. Looking at the upstream issue, I'm thinking this breakage might be pushed into stable, meaning that it would've broken anyways even if we could compile on stable. I've opened a PR for the bug at carllerche/eventual#41.

That said, I'd vote for option 1: staying on nightly. Some f

[2016-03-31 16:59] borissmidt commented on #494
If your fix fixes the compiler error then there is no more problem for using the nightly compiler, but maybe you should add it to the readme that the nightly compiler is required.

[2016-04-03 16:00] borissmidt commented on #494
ok then i will close the issue. Many thanks for the help.

[2016-04-03 16:00] #494 closed

[2016-04-05 01:19] Hoverbear commented on #494
@euclio Okay. :) Let's just keep going on nightly.

[2016-04-05 09:20] borissmidt commented on #494
The only recommended change i have now, is to say it more explicit(i.e. bold) in the readme that the nightly compiler is required.

[2016-04-06 12:57] euclio opened #502 "add a CONTRIBUTING.md"
It'd be nice to summarize/standardize our policies around accepting PRs.

[2016-04-07 13:04] euclio opened #504 "Hosting alternative solutions"
Given #498 and #400 (possibly others), I'm thinking of ways that we can support different ways of implementing the same task. Is the best solution just to host them all in the same file? Conditional compilation?

[2016-04-07 17:29] euclio commented on #432
I think this is blocked on huonw/travis-cargo#52 for the time being.

[2016-04-07 17:43] Hoverbear commented on #504
Hmmm... Another option is numbering them or storing them in a folder.

[2016-04-07 17:48] Hoverbear commented on #502
Yes this is a good idea!

[2016-04-07 18:20] #502 closed

[2016-04-07 19:08] euclio commented on #504
Yeah, I'd be inclined to number/namespace them in some way, as I really like the folder -> rosetta code task group correspondence.

[2016-04-09 01:28] Hoverbear commented on #504
One concern for me is we don't want to implicitly give priority to one or the other.

[2016-04-14 00:39] euclio opened #519 "64-bit MSVC test is failing"
Not sure what's going on. It looks to just be hanging? Paging @miqid

[2016-04-14 12:16] miqid commented on #519
@euclio, just got home and I'm on the case.

The AppVeyor build machine is indeed hanging. When I used RDP to get in, I was greeted with a somewhat familiar error dialog:

![2016-04-14 19_32_56-clipboard](https://cloud.githubusercontent.com/assets/2031402/14527503/17dfbbc2-027d-11e6-8c9d-7b7f291f4211.png)

Yet another platform binary mismatch.

I've got a fix for this—I just need to confirm it doe

[2016-04-14 16:42] #519 closed

[2016-04-15 00:25] miqid commented on #467
I've reopened this in response to @euclio asking (#519) about tracking support for testing the project using Rust built with the 64-bit GNU toolchain on Windows.

Currently the AppVeyor configuration does not include this flavour of Rust in the build matrix because of known dependency compilation problems. I've included an example excerpt below.

[code]

[2016-04-21 21:37] euclio commented on #427
I think I found a way to move forward on this.

1. Add `clippy` to optional dependencies.
2. Build with clippy

[code]
3. Build a second time, using `clippy` in `RUSTFLAGS`.

[code]

I'll submit a PR updating the instructions (and maybe fixing some lint warnings) in the coming days.

[2016-04-27 02:43] Hoverbear commented on #427
Thanks for looking into this, it's a great idea!

[2016-05-14 07:01] #427 closed

[2016-05-16 20:14] euclio commented on #432
Going to close this, as we now have accurate coverage! Yay!

[2016-05-16 20:14] #432 closed

[2016-05-23 16:00] Hoverbear commented on #432
\o/

[2016-06-01 19:32] euclio opened #531 "Consider separating tasks into individual crates under a single workspace"
(See [cargo workspaces](https://github.com/rust-lang/rfcs/blob/master/text/1525-cargo-workspace.md)).

I propose that each task be split into a separate crate under the same workspace. I can think of a number of benefits:
1. While most crates would be implemented in a single `src/main.rs` file, solutions that can be used as libraries could be split into both `main.rs` and `lib.rs`. This is particu

[2016-06-02 01:25] euclio opened #533 "coverage is no longer working"
Probably related to the latest changes in travis-cargo.

[2016-06-02 06:53] aochagavia commented on #531
Sounds pretty interesting! I think it is a good idea.

[2016-06-02 15:44] euclio commented on #531
Some additional thoughts:

I think we could somewhat address #504 by grouping multiple solutions under a single crate. We would be able to maintain a clean structure by having a single folder for each task, but having multiple binaries within each folder. Unfortunately, this doesn't really address the problem of having one solution be the "definitive solution" -- it seems like you'd still have `sr

[2016-06-06 15:58] Hoverbear commented on #533
Which change in travis-cargo?

[2016-06-06 22:55] euclio commented on #533
Not sure, just noticed that the failure seems to be caused by the incorrect args being passed to `kcov`.

[2016-06-08 00:38] Hoverbear commented on #531
I also like this idea!

[2016-06-08 00:39] Hoverbear commented on #533
Might be related to https://github.com/huonw/travis-cargo/issues/54

[2016-06-08 03:58] euclio commented on #533
Opened huonw/travis-cargo#55.

[2016-06-30 19:26] euclio commented on #531
Just started working on this. The implementation so far:

All solution crates are grouped under a top-level folder called `tasks`. Within this folder, tasks are still grouped by namespace. For example, all sorting algorithm tasks are located under `/tasks/sorting-algorithms/`. I've also grouped alternative solutions to the same task under the same crate, just a different binary name.

The root-lev

[2016-07-08 22:05] Hoverbear commented on #531
@euclio I'd like to take a look at this, is it up on a fork somewhere?

[2016-07-09 15:13] euclio commented on #531
@Hoverbear I've moved a few crates at [euclio/rust-rosetta](https://github.com/euclio/rust-rosetta/tree/workspace), but I'm currently blocked on a bug in cargo.

[2016-07-10 17:59] Hoverbear commented on #531
Doh! So https://github.com/euclio/rust-rosetta/commit/aefee25f381ff618442a1bf1b5b48177d96b57f7 would be a typical commit for this?

[2016-07-10 18:05] euclio commented on #531
Yeah, that's what's they'll look like :)

[2016-07-10 18:39] Hoverbear commented on #531
I like it. Is there any way I can offer assistance?

[2016-07-11 18:24] euclio commented on #531
Sure, I think that since this is going to be a massive change it makes sense to do it in batches. I guess just pick a few crates and migrate them over once I we merge this first batch.

I'll wait to open a PR for this batch until the pending PRs are merged.

[2016-07-13 22:23] Hoverbear commented on #531
Okay! I'll work on closing them up.

[2016-07-13 22:34] Hoverbear commented on #531
Oh, they are! :)

[2016-07-20 03:18] euclio commented on #447
Closed in favor of the metadata approach described in #531.

[2016-07-20 03:18] #447 closed

[2016-07-20 03:18] euclio commented on #504
Closed in favor of including multiple binaries under a single crate, as described in #531.

[2016-07-20 03:18] #504 closed

[2016-10-10 05:46] kwaegel opened #566 "OpenSSL v0.7.14 breaks build on Windows"
Not sure if this is possible to fix on our side, but the recursive dependency on OpenSSL v0.7.14 is breaking the windows build with the error log attached below.

This appears to be an old bug in `rust-openssl`, since building v0.7.14 causes the same error, but building v0.8.0 or newer works fine.

Is it possible to upgrade this locally, or do we need to wait for our dependencies to upgrade? I'm n

[2016-10-10 05:51] Hoverbear commented on #566
Hm, I think we might need to wait for them to update... What happens if you blow away the `Cargo.lock`s on the tasks which use these? (Can probably just blow away all `Cargo.lock`s to test.)

[2016-10-10 05:56] Hoverbear commented on #566
Looks like `hyper` still depend son 0.7: https://github.com/hyperium/hyper/blob/master/Cargo.toml#L32

[2016-10-10 06:27] kwaegel commented on #566
I dug a little further, and even if `hyper` upgrades, `cookie` hasn't released a version that depends on `openssl` v0.8.0 yet (though the change is already in the dev tree).

Looks like we'll just have to wait, though I may send a note to the `hyper` group mentioning the issue.

[2016-10-25 15:02] #566 closed

[2016-12-11 08:24] #531 closed

[2017-02-02 04:25] F001 opened #587 "DoubleLinkedList implementation violates aliasing rules"
Refer to :  https://github.com/rust-lang/rust/issues/34417

In std, the linked list was implemented based on `Box` type. But it's wrong.

[2017-06-20 19:57] euclio opened #594 "Replace rustbox with termion"
~~Termion is fully cross-platform.~~

Ok, so actually it isn't 😲 but it is stable...

[2018-01-26 19:18] euclio commented on #425
I don't think this is useful since we have batching requests now.

[2018-01-26 19:18] #425 closed

[2018-02-24 15:34] euclio commented on #594
Closed by #636.

[2018-02-24 15:34] #594 closed

[2018-02-27 13:25] Hoverbear commented on #594
🎉

[2018-02-27 14:55] euclio opened #637 "Replace rust-crypto with *ring*"
rust-crypto appears to be abandoned, and *ring* is the crate of choice for crypto these days.

[2018-02-28 03:42] TheIronBorn commented on #637
I started looking into this.  `bitcoin/address-validation` works fine and might even make things easier.  `bitcoin/public-point-to-address` requires the RIPEMD-160 hash which `ring` doesn't have.

[2018-02-28 03:46] TheIronBorn commented on #637
Same for the `ripemd-160` task

[2018-03-01 21:03] euclio opened #639 "rustfmt!"
rustfmt's style and accuracy has been updated quite a bit since #418. It's probably time for another run.

Bonus points for replacing the style checks in `build.rs` with `cargo fmt --all -- --write-mode=diff`.

Some tasks like `quine`will actually break if rustfmt is run on them. Be careful!

[2018-03-06 15:05] euclio commented on #422
I'm going to go ahead and close this.

[2018-03-06 15:05] #422 closed

[2018-04-14 18:44] #639 closed

[2018-09-23 23:46] euclio commented on #533
I just read about [grcov](https://github.com/mozilla/grcov) in the unstable book. I wonder if that could help us here.

[2018-10-02 06:11] ZhouHansen opened #653 "return a recursive closure which captures environment from a function?"
Ways that make recursive closure are not suitable for me from the accepted answer of the question:

[Is it possible to make a recursive closure in Rust?][1]

My closure need to be returned from a function and need to capture variable from the environment.

Then I find a way seems more suitable for me: #450

[code]

The above code works fine.

But my closure need to be returned from a function, so

[2018-10-02 06:15] ZhouHansen commented on #653
@Stebalien ,  Do you know how to do this?

[2018-10-02 17:30] Stebalien commented on #653
Here's a fixpoint function that should "just work": https://docs.rs/tool/0.2.1/tool/fn.fix.html.

[2018-10-03 00:05] ZhouHansen commented on #653
And how to mutate the environmental variables? I want to make this work.

[code]

[2018-10-03 02:31] ZhouHansen commented on #653
Your solution works for that, But I find my situation is further more complex. Do you know how to pass that closure to a function, then call that function in that closure? 😖

[code]

[2018-10-04 15:52] Stebalien commented on #653
Well, that depends. You won't be able to pass `f` with a *static* lifetime like you're doing because `f` can't outlive the closure. However, if it doesn't *need* to be static, you can do one of:

Using box:

[code]

Without box:

[code]

[2018-10-06 09:07] ZhouHansen commented on #653
I found I need to use `let mut a = false;` rather than `let a = RefCell::new(false);`. Because I need to transfer the ownership of `a` into a function. How to make this work?

[code]

[2018-10-06 19:48] Stebalien commented on #653
Can you post something closer to what you're actually trying to do? As-is, you could probably fix that by making `solve` take `&mut Vec<usize>`.

[2018-10-13 05:01] ZhouHansen commented on #653
I've solved it by pass the reference: `solve(&a);`
 [Cannot move out of borrowed content when trying to transfer ownership](https://stackoverflow.com/questions/28258548/cannot-move-out-of-borrowed-content-when-trying-to-transfer-ownership)

[2018-10-13 05:01] #653 closed

[2018-10-19 04:01] kitlith commented on #400
this is a 3 year necro, but couldn't the issue of the return type be solved with the use of `impl Iterator<Item=T>` at this point?

[2018-11-07 14:57] euclio commented on #402
There's a new crate [`parse_wiki_text`](https://crates.io/crates/parse_wiki_text) that could help here.

[2019-03-18 10:23] Olavhaasie commented on #637
There exists a [ripemd160](https://crates.io/crates/ripemd160) crate which seems more actively maintained

[2019-04-26 02:26] kpp commented on #587
Is this fix you are looking for https://github.com/rust-lang/rust/pull/60072?

[2019-04-29 03:47] F001 commented on #587
No. I was referring to https://github.com/rust-lang/rust/pull/34608 .

[2019-08-22 00:04] efx commented on #637
rust-crypto appears unmaintained: https://github.com/DaGenix/rust-crypto/issues/440
Per @oconnor663's comment we should prefer implementations from the [RustCrypto organization](https://github.com/RustCrypto)

[2019-08-22 00:10] efx commented on #637
Per @oconnor663's [comment](https://github.com/DaGenix/rust-crypto/issues/440#issue-360506450) there is also a GitHub organization for maintaining rust implementation. Where [ring](https://briansmith.org/rustdoc/ring/index.html) does not implement something, we can probably find it in one of the [RustCrypto](https://github.com/RustCrypto) repos.

[2019-08-22 15:31] euclio opened #674 "Consider using bors for this repository"
It would be nice to confirm that the PR doesn't break master before merging. This has happened a few times in the past.

https://bors.tech/

[2019-09-04 15:35] euclio opened #680 "Consider moving this repository under an organization"
It would make the repository more "official" and simplify adding new maintainers.

[2019-09-04 15:36] #637 closed

[2019-09-04 20:46] euclio commented on #680
I created https://github.com/rust-rosetta.

@Hoverbear, does this sound like something you'd like to do?

[2019-09-05 14:17] Hoverbear commented on #680
Hey! Absolutely! Can you add me to it and I'll initiate the transfer?

[2019-09-05 20:08] #680 closed

[2019-09-05 20:08] Hoverbear commented on #680
Done!

[2019-10-15 13:51] euclio commented on #674
Bors is set up and working.

[2019-10-15 13:51] #674 closed

[2020-01-14 01:03] efx commented on #170
So scriptedmain redirects to http://rosettacode.org/wiki/Modulinos#Rust. That task has a caveat to prefer http://rosettacode.org/wiki/Executable_library.
So we could probably close this.

[2020-04-25 03:24] 9names opened #705 "CI failure due to invalid crate names"
A number of task names begin with numbers, but crate names starting with numbers are invalid.
https://github.com/rust-lang/cargo/pull/7959
Possible solutions:
- Change numbers to words
- Prefix tasks that start with numbers with a valid character/string
- Prefix all tasks with some character/string - e.g. rc (for rosetta code)

The first would make the tasks harder to find, and change lexicographi

[2020-05-04 20:50] euclio commented on #705
Oof, this is unfortunate. There aren't too many tasks that start with numbers, I wonder if we can come up with a prefix that makes sense to apply for only those. Otherwise, I agree that prefixing all tasks with "rc" makes sense.

[2020-05-05 13:15] 9names commented on #705
I've added a pull request which uses the prefix of the underscore character "_" on all numeral first character tasks
Fixes the build problems, so this strategy can be used to resolve the build issue.
https://github.com/rust-rosetta/rust-rosetta/pull/706

[2020-05-30 20:01] euclio commented on #705
Fixed by #706. Thanks!

[2020-05-30 20:01] #705 closed

[2020-12-18 13:11] efx commented on #170
Two other relevant points:
- https://github.com/acmeism/RosettaCodeData is a project to scrape Rosetta code.
- The creator of Rosetta code intends to modernize the wiki

Any future, serious work to synchronize Rust solutions should check in with them! I imagine a more modern way of managing the content could greatly simplify our tooling and improve contributor experience.

[2021-07-12 21:32] PatchMixolydic opened #766 "`mouse-position` shouldn't use `mem::uninitialized`"
The solution for the "mouse position" task [currently uses `uninitialized` quite frequently](https://github.com/rust-rosetta/rust-rosetta/blob/master/tasks/mouse-position/src/main.rs#L25-L29). However, [`mem::uninitialized` is deprecated](https://doc.rust-lang.org/std/mem/fn.uninitialized.html) since it is known to cause immediate undefined behaviour. The recommended replacement is [`MaybeUninit`]

[2021-07-16 01:32] euclio commented on #766
I agree with both points! Feel free to submit a PR.

[2021-10-04 13:12] efx opened #770 "[good first issue] filename collision"
`_24-game` and `_100-doors` both use the `bin/` directory for housing `main.rs`.
I believe this results in the following error:
https://github.com/rust-rosetta/rust-rosetta/pull/768/checks?check_run_id=3351431703#step:4:322

We should modernize those examples to avoid the cargo warning.

[2021-10-30 22:37] #766 closed

[2022-10-09 01:02] #770 closed